<div class="inner system" ng-controller="categoryCtrl">

  <div class="title-wrapper row">
    <div class="title-text-block col-xs-9">
      <h1 class="title">分类管理
        <a class="btn-add-new btn btn-warning" ng-click="editCategory('', 'add')"><i class="fa fa-plus"></i>  新增一级分类</a>
        <span class="edit-btn-group">
          <button type="button" class="btn btn-purple btn-text-shadow" ng-click="expandAll()"><i class="fa fa-plus-square-o"></i> 全部展开</button>
          <button type="button" class="btn btn-purple btn-text-shadow" ng-click="collapseAll()"><i class="fa fa-minus-square-o"></i> 全部收起</button>
        </span>
      </h1>
    </div>
  </div>

  <div ui-grid="gridOptions" ui-grid-tree-view class="uiGrid categoryList">
    <div ng-if="loadingGrid" class="loading-grid"><i class="fa-3x fa fa-spinner fa-spin"></i></div>
    <div ng-if="!loadingGrid && gridOptions.data.length < 1" class="no-result" ng-cloak>找不到符合条件的数据</div>
  </div>

</div>