<div class="inner feed" ng-controller="seofeedCtrl">

  <div class="title-wrapper row">
    <div class="title-text-block col-xs-9">
      <h1 class="title">SEO文章列表
        <label for="csvInput" class="btn-add-new btn btn-warning" ng-class="{loading: uploadBtnDisabled}">
          <span class="waiting"><i class="fa fa-spin fa-circle-o-notch"></i></span>
          <span class="normal"><i class="fa fa-cloud-upload"></i> 导入新数据</label></span>
        <input id="csvInput" ng-disabled="uploadBtnDisabled" class="hidden-input" ng-model="csv.csvfile" type="file" accept=".csv" common-file-upload>
        <span class="edit-btn-group" ng-if="tempArray && tempArray.length > 0">
          <a class="btn btn-delete" ng-click="editStatus(8)"><i class="fa fa-trash-o"></i> 删除</a>
        </span>
      </h1>
    </div>
  </div>

  <div class="uiGrid" ui-grid-selection ui-grid="gridOptions">
    <div ng-if="loadingGrid" class="loading-grid"><i class="fa-3x fa fa-spinner fa-spin"></i></div>
    <div ng-if="!loadingGrid && gridOptions.data.length < 1" class="no-result" ng-cloak>找不到符合条件的数据</div>
  </div>

</div>