<h1>此处为弹出</h1>

<!-- <div class="modal-wrapper addareas">
  <form class="form-horizontal">
    <div class="modal-header clearfix">
      <h4 class="modal-title pull-left">新增服务项 <span class="modal-sub-title">新建区域版本</span></h4>
      <div class="button-group pull-right">
        <button class="btn" ng-click="ok()" ng-if="isAdded">确定</button>
        <button class="btn" ng-click="cancel()">取消</button>
      </div>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label class="col-xs-2 control-label">区域版本名称</label>
        <div class="col-xs-6 input-wrapper">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group" ng-if="!isAdded">
        <label class="col-xs-2 control-label">区域选择</label>
        <div class="col-xs-6 input-wrapper">
          <button class="btn btn-default" ng-click="addArea()">添加一个区域</button>
        </div>
      </div>

      <div class="form-group" ng-if="isAdded">
        <label class="col-xs-2 control-label">地区选择</label>
        <div class="col-xs-10">
          <div class="select-group">
            <select>
              <option>广东省</option>
            </select>
          </div>

          <div class="select-group">
            <select>
              <option>广州市</option>
              <option>深圳市</option>
            </select>
          </div>

          <div class="checkbox-group">
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> 天河区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> 越秀区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 荔湾区
            </label>
          </div>

          <button class="btn btn-default">再添加一个区域</button>
        </div>
      </div>
    </div>

    <div class="modal-footer">
    </div>
  </form>
</div> -->