/* TOPBAR */

.topbar{
  background: $vi-blue;
  position: relative;
  width: 100%;

  .logo-outer{
    padding-top: 10px;
    padding-bottom: 10px;

    .logo{
      display: block;
      background-image: url(../img/logo_admin_invert.png);
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 20px;
    }
  }

  .menu{

    ul.nav {
      border-bottom: 0;
    }

    li{

      background: transparent;
      color: $textDarkgray;
      font-weight: normal;
      margin-right: 0.5em;

      a{
        vertical-align: middle;
        color: white(0.9);
        border-color: transparent;
        border-bottom-color: #fff;

        -webkit-transition: background 0.2s;
        transition: background 0.2s;

        i{
          color: white(0.6);
          margin-right: 0.5em;
        }

        &:hover{
          color: $textDarkgray;

          i{
            color: $vi-blue;
          }
        }

        &.active{
          color: $textDarkgray;
          background: #fff;
          border-color: black(0.15);
          border-bottom-color: #fff;

          i{
            color: $vi-blue;
          }

        }

        @media (max-width: 1363px) {
          .shorten {
            display: none;
          }
        }

        @media (max-width: 940px) {
          i {
            margin-right: 0;
          }

          span {
            display: none;
          }
        }
      }

    }

  }

  .logout{
    text-align: right;

    .btn-logout{
      display: inline-block;
      color: white(0.8);
      padding: 10px 12px 11px 12px;

      i {
        margin-left: 0.8em;
      }

      &:hover{
        color: #fff;
      }

      @media (max-width: 940px) {
        i {
          display: none;
        }
      }

    }

    .open{
      .btn-logout{
        background: #222;
      }
    }

    .dropdown-menu{
      left: auto;
      top: 38px;
      right: 15px;
      width: 80px;
      border-radius: 0;
      padding: 0;
      background: #222;
      border:0;

      li{
        border-top: 1px solid white(0.15);

        &:first-of-type{
          border-top: 0;
        }

        a {
          padding: 8px 20px 10px 20px;
          color: white(0.6);

          i {
            width: 1.2em;
            margin-right: 0.5em;
            color: transparentize($vi-orange, 0.3);
          }

          &:hover{

            &:not(.disabled){
              background: black(0.6);
              color: #fff;

              i{
                color: $vi-orange;
              }
            }

            &.disabled{
              background: transparent;
              cursor: not-allowed;
            }
          }

        }
      }
    }
  }

}